node_modules
dist
.git
.gitignore
coverage
.angular
.vscode
.idea
*.log
npm-debug.log*
.env
.env.local
src/environments/environment.ts
README.md
.editorconfig
.eslintrc.json
.prettierrc*
Dockerfile
docker-compose.yml